.input_land_out {
    margin-top: 53px;
    width: 100%;
    position: relative;
    overflow-x: hidden;
}

.content {
    display: flex;
    justify-content: center;
    gap: 40px;

    .input_out__outer {
        position: relative;
    }

    .error {
        padding-left: 30px;
        font-family: 'Manrope';
        font-style: normal;
        font-weight: 500;
        font-size: 10px;
        line-height: 14px;
        color: #df2111;
    }

    .input {
        width: 254px;
        height: 55px;
        padding: 20px 0 20px 20px;
        background: #edeef0;
        border-radius: 45px;
        outline: 0;
        border: none;
        font-family: 'Manrope';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 22px;
        color: #000000;

        &::placeholder {
            color: #000000;
        }
    }

    .input_error {
        border: 1px solid #e92727;
    }

    .input:focus {
        border: 1px solid #0090ff;
        color: #000;
    }

    .input:last-child {
        margin-bottom: 0;
    }
}

.agreement__outer {
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: 50px;

    .agreement {
        display: flex;
        align-items: center;
        gap: 12px;

        .agreement_dot_button {
            cursor: pointer;
            padding: 0;
            outline: 0;
            border: 0;
            height: max-content;
            background-color: transparent;
        }

        .agreement_dot_button_active {
            padding: 0;
            cursor: pointer;
            outline: 0;
            border: 0;
            height: max-content;
            background-color: rgba(255, 255, 255, 0);

            .dot {
                fill: #0090ff;
            }
        }

        .agreement__text {
            max-width: 250px;
            font-family: 'IBM Plex Sans';
            font-style: normal;
            font-weight: 400;
            font-size: 10px;
            line-height: 14px;
            color: #4f4f4f;

            a {
                color: #0090ff;
            }

            a:hover {
                color: #005ca3;
            }
        }
    }

    .error {
        position: absolute;
        top: 28px;
        left: 50%;
        transform: translate(-300%);
        font-family: 'Manrope';
        font-style: normal;
        font-weight: 500;
        font-size: 10px;
        line-height: 14px;
        color: #df2111;
    }
}

.button {
	display: block;
	padding: 24px 130px;
	margin: 37px auto 0 auto;
	background: #0090FF;
	border-radius: 60px;
	font-family: 'Manrope';
	font-style: normal;
	font-weight: 600;
	font-size: 18px;
	line-height: 25px;
	text-align: center;
	letter-spacing: 0.02em;
	text-transform: uppercase;
	color: #FFFFFF;
	border: 0;
	outline: none;
	cursor: pointer;

	&:hover {
		transition: all .4s ease;
		background-color: #000;
		color: #fff;
	}
}

@media (max-width: 1024px) {
    .content {
        display: flex;
        flex-direction: column;
        gap: 20px;

        .input_out__outer {
            position: relative;
        }

        .error {
            padding-left: 30px;
            font-family: 'Manrope';
            font-style: normal;
            font-weight: 500;
            font-size: 10px;
            line-height: 14px;
            color: #df2111;
        }

        .input {
            width: 100%;
            height: 60px;

            &::placeholder {
                color: #000000;
            }
        }

        .input_error {
            border: 1px solid #e92727;
        }

        .input:focus {
            border: 1px solid #0090ff;
            color: #000;
        }

        .input:last-child {
            margin-bottom: 0;
        }
    }
}

@media (max-width: 800px) {
    .input_land_out {
        margin-top: 60px;
    }

    .button {
        display: block;
        margin: 41px auto 0 auto;
    }
}

@media (max-width: 500px) {
    .button {
        padding: 16px 0;
        width: 100%;
    }
}
