.banner {
    width: 100vw;
    position: fixed;
    bottom: 0;
    left: 0;
    display: grid;
    grid-template-columns: 1fr 522px 1fr;
    place-items: center;
    padding: 30px 80px 30px 310px;
    gap: 20px;
    z-index: 11102;
    overflow: hidden;
    background-color: #000;
    -webkit-box-shadow: 0px 9px 20px -6px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 9px 20px -6px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 9px 20px -6px rgba(0, 0, 0, 0.75);

    @media (max-width: 1645px) {
        grid-template-columns: 1fr 500px 1fr;
    }

    @media (max-width: 1580px) {
        padding: 30px 80px 30px 250px;
    }

    @media (max-width: 1500px) {
        padding: 30px 80px 30px 200px;
        grid-template-columns: 1fr 440px 1fr;
    }

    @media (max-width: 1390px) {
        gap: 15px;
    }

    @media (max-width: 1300px) {
        gap: 15px;
        grid-template-columns: 1fr 380px 1fr;
    }

    @media (max-width: 1260px) {
        padding: 30px 80px 30px 150px;
    }

    @media (max-width: 1200px) {
        grid-template-columns: 1fr 380px;
        grid-template-areas:
            "title text"
            "button text"
        ;
        gap: 35px 45px;
        padding: 42px 80px 30px 42px;
    }

    @media (max-width: 990px) {
        grid-template-columns: 1fr 1fr;
    }

    @media (max-width: 768px) {
        padding: 30px;
        gap: 10px;
        grid-template-columns: 1fr;
        grid-template-areas:
            "title"
            "text"
            "button"
        ;
    }

    .banner_title {
        color: #FFF;
        font-family: Manrope;
        font-size: 81px;
        font-style: normal;
        font-weight: 800;
        line-height: 101%;
        text-transform: uppercase;

        span {
            color: #0090ff
        }

        @media (max-width: 1645px) {
            font-size: 72px;
        }

        @media (max-width: 1460px) {
            font-size: 62px;
        }

        @media (max-width: 1200px) {
            grid-area: title;
        }

        @media (max-width: 900px) {
            font-size: 45px;
        }

        @media (max-width: 768px) {
            font-size: 36px;

            br {
                display: none;
            }

            span {
                padding-left: 10px;
            }
        }

        @media (max-width: 550px) {
            font-size: 31px;
            text-align: center;
        }
    }

    .text_block {
        display: flex;
        flex-direction: column;
        gap: 12px;
        max-width: 522px;

        @media (max-width: 1200px) {
            grid-area: text;
        }

        @media (max-width: 1200px) {
            align-items: center;
        }

        .sub_title {
            color: #FFF;
            font-family: Manrope;
            font-size: 36px;
            font-style: normal;
            font-weight: 800;
            line-height: normal;
            text-transform: uppercase;

            @media (max-width: 1645px) {
                font-size: 32px;
            }

            @media (max-width: 768px) {
                font-size: 20px;
            }

            @media (max-width: 550px) {
                font-size: 16px;
            }
        }

        .text {
            color: #FFF;
            font-family: Manrope;
            font-size: 30px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;

            @media (max-width: 1645px) {
                font-size: 26px;
            }

            @media (max-width: 1390px) {
                font-size: 24px;
            }

            @media (max-width: 990px) {
                font-size: 20px;
            }

            @media (max-width: 768px) {
                text-align: center;
            }

            @media (max-width: 550px) {
                font-size: 14px;
            }
        }
    }

    .bg__image {
        position: absolute;
        left: 0;
        bottom: 0;
        top: 0;
        right: 0;
        z-index: -1;

        @media (max-width: 1200px) {
            display: none;
        }
    }

    .bg__image_lap {
        display: none;

        @media (max-width: 1200px) {
            display: block;
            position: absolute;
            left: 0;
            bottom: 0;
            top: 0;
            right: 0;
            z-index: -1;
        }
    }

    .button_close {
        position: absolute;
        top: 20px;
        right: 20px;
        background: none;
        outline: 0;
        border: none;
        cursor: pointer;

        @media (max-width: 550px) {
            padding: 0;

            svg {
                width: 20px;
                height: 20px;
            }

        }
    }

    .button_submit {
        display: block;
        box-sizing: border-box;
        padding: 25px 0;
        border-radius: 60px;
        background: linear-gradient(91deg, #0090FF 8.49%, #00F18A 139.86%);
        color: #FFF;
        text-align: center;
        font-family: Manrope;
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        letter-spacing: 0.4px;
        text-transform: uppercase;
        width: 100%;
        transition: all .4s ease;
        outline: 3px solid transparent;
        max-width: 373px;

        &:hover {
            transition: all .4s ease;
            outline: 3px solid #0090ff;
            color: #0090ff;
            background: #fff;
        }

        @media (max-width: 1200px) {
            grid-area: button;
        }

        @media (max-width: 900px) {
            padding: 15px 0;
            font-size: 20px;
        }

        @media (max-width: 768px) {
            margin-top: 13px;
            font-size: 15px;
        }
    }

    .banner_ribbon {
        position: absolute;
        width: 180px;
        height: 115px;
        left: 0;
        bottom: 0;
        transform: scale(1.1);
        z-index: -1;

        @media (max-width: 1200px) {
            bottom: -42px;
        }
    }
}