.banner {
    position: fixed;
    top: 45px;
    left: 0;
    width: 100%;
    height: max-content;
    background-color: #ACACAC;
    border-radius: 20px;
    display: grid;
    grid-template-columns: 20.67% 300px 1fr;
    align-items: center;
    padding: 0 80px;
    gap: 0 50px;
    z-index: 20;
    overflow: hidden;
}

.banner_logo {
    width: 100%;
}

.descr_row {
    display: flex;
    align-items: center;
    gap: 50px;
}

.button_submit {
    border: none;
    cursor: pointer;
    font-family: "Manrope";
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #f1f4f6;
    background: #0090ff;
    border-radius: 60px;
    height: 70px;
    width: 300px;

    &:hover {
        opacity: 0.7;
    }
}

.event_info {
    padding: 39px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 15px;
}

.event_info_cell {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 10px;
}

.event_info__top {
    display: flex;
    gap: 10px;
}

.event_info__place_icon_outer_mob {
    display: none;
}

.event_info__title {
    font-family: "Manrope";
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 6px;
}

.event_info__text {
    font-family: "Manrope";
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    color: #fff;

    span {
        color: #0090ff;
    }
}

.button_close {
    display: block;
    border: none;
    position: absolute;
    top: 10px;
    right: 10px;
    outline: none;
    cursor: pointer;
    overflow: hidden;
    background-color: transparent;
    transition: all .3 ease;

    &:hover {
        circle {
            stroke: #8E8E8E
        }

        transition: all .3 ease;
    }
}

.button_close_mob {
    display: none;
}

.text_wrap {
    max-width: 600px;
}

.text {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-size: 29px;
    line-height: 1.13em;
    text-transform: uppercase;
    color: #fff;
    max-width: 600px;
}

@media (max-width: 1800px) {
    .text {
        max-width: 450px;
        font-size: 26px;
    }
}

@media (max-width: 1680px) {
    .banner {
        gap: 0 40px;
    }

    .text {
        max-width: 400px;
        font-size: 24px;
    }
}

@media (max-width: 1400px) {
    .banner {
        padding: 0 40px;
        gap: 0 30px;
    }

    .text {
        padding: 20px 0;
    }

    .descr_row {
        gap: 30px;
    }

    .button_submit {
        flex: 0 0 200px;
        height: 60px;
    }
}

@media (max-width: 1200px) {
    .banner {
        top: 50px;
        padding: 0 60px 0 40px;
    }

    .descr_row {
        flex-direction: column;
        justify-content: center;
        gap: 20px;
        padding: 20px 0;
    }

    .button_submit_wrap {
        order: 2;
    }

    .text {
        max-width: 350px;
        width: 100%;
        order: 1;
        padding: 0;
        text-align: center;
    }
}

@media (max-width: 992px) {
    .banner {
        grid-template-columns: 20.67% 30.3% 1fr;
    }

    .text {
        font-size: 20px;
    }

    .button_submit_wrap {
        max-width: 300px;
        width: 100%;
    }

    .button_submit {
        width: 100%;
    }

    .event_info_cell {
        grid-template-columns: 1fr 2.5fr;
    }

    .event_info__title {
        font-size: 12px;
    }

    .event_info__text {
        font-size: 16px;
    }
}

@media (max-width: 786px) {
    .banner {
        grid-template-columns: 30% 1fr;
        grid-template-areas:
            "logo event"
            "text text";
        padding: 0 20px;
        gap: 10px;
    }

    .banner_logo {
        width: 100%;
        grid-area: logo;
    }

    .event_info {
        padding: 39px 0 0 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 15px;
    }

    .event_info__date_icon_outer {
        display: none;
    }

    .event_info__place_icon_outer {
        display: none;
    }

    .event_info__place_icon_outer_mob {
        display: block;
    }

    .event_info_cell {
        grid-area: event;
    }

    .descr_row {
        grid-area: text;
    }

    .text {
        display: block;
        width: 100%;
    }

    .text {
        font-size: 16px;
    }

    .event_info__text {
        font-size: 12px;
    }

    .button_submit_wrap {
        max-width: 200px;
        width: 100%;
    }

    .button_submit {
        height: 36px;
        font-size: 14px;
        line-height: 19px;
    }

    .button_close {
        display: none;

    }

    .button_close_mob {
        display: block;
        border: none;
        position: absolute;
        top: 10px;
        right: 10px;
        outline: none;
        cursor: pointer;
        overflow: hidden;
        background-color: transparent;
    }
}