.benefits {
  padding: 120px 0 40px 0;
  background: linear-gradient(180deg, #f0f0f0 0%, #fff 100%);

  .container {
    position: relative;
    width: 1170px;
    margin: 0 auto;

    @media (max-width: 1200px) {
      width: 100%;
    }

    .bg_logo {
      position: absolute;
      right: -686px;
      top: -116px;
      width: 872px;
      height: 872px;
      z-index: -1;

      @media (min-width: 1024px) {
        right: -581px;
        top: -138px;
      }

      @media (min-width: 1927px) {
        right: -504px;
        top: -108px;
      }
    }

    .subtitle {
      width: calc(100% - 30px);
      color: #000;
      text-align: center;
      font-family: Manrope;
      font-size: 30px;
      font-weight: 600;
      line-height: normal;
      text-transform: uppercase;
      margin: 0 auto;

      @media (min-width: 744px) {
        max-width: 702px;
        font-size: 40px;
      }

      @media (min-width: 1024px) {
        max-width: 877px;
        font-size: 45px;
      }

      span {
        font-weight: 800;
      }
    }

    .text {
      color: #000;
      font-family: Manrope;
      font-size: 16px;
      text-align: center;
      font-weight: 400;
      line-height: normal;
      margin-bottom: -16px;
      padding-left: 15px;
      padding-right: 15px;

      @media (min-width: 744px) {
        padding-left: 0;
        padding-right: 0;
      }

      @media (min-width: 1024px) {
        font-size: 19px;
      }
    }

    .benefits_list {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      @media (max-width: 743px) {
        margin-bottom: 40px;
      }

      @media (min-width: 744px) {
        flex-direction: row;
      }
    }

    .benefits_item {
      position: relative;
      width: 377px;
      height: 315px;
      display: flex;
      justify-content: center;

      @media (min-width: 1024px) {
        width: 505px;
        height: 423px;
      }

      @media (min-width: 1927px) {
        width: 624px;
        height: 522px;
      }
    }

    .benefits_title {
      color: #000;
      text-align: center;
      font-family: Manrope;
      font-size: 23px;
      font-weight: 700;
      line-height: normal;
      z-index: 2;
      margin: 0 auto;
      margin-top: 196px;

      @media (min-width: 1024px) {
        font-size: 28px;
        margin-top: 263px;
      }

      @media (min-width: 1927px) {
        font-size: 35px;
        margin-top: 321px;
      }
    }

    .benefits_subtitle {
      color: #000;
      text-align: center;
      font-family: Manrope;
      font-size: 25px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      margin: 0 auto;
      max-width: 341px;

      @media (min-width: 744px) {
        max-width: 402px;
        font-size: 36px;
      }

      @media (min-width: 956px) {
        max-width: 761px;
        font-size: 36px;
      }
    }

    .benefits_grid {
      display: flex;
      flex-direction: column;

      .grid_cell {
        margin: 0 auto;
        max-width: 305px;

        @media (min-width: 744px) {
          max-width: 200px;
        }

        @media (min-width: 1024px) {
          max-width: 299px;
        }

        @media (min-width: 1927px) {
          max-width: 336px;
        }
      }

      .upper_row {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-content: center;
        gap: 28px;

        @media (min-width: 744px) {
          display: flex;
          flex-wrap: wrap;
          align-items: baseline;
          padding-left: 20px;
          padding-right: 20px;
        }

        @media (min-width: 1024px) {
          gap: 43px;
        }

        @media (min-width: 1927px) {
          gap: 61px;
        }

        @media (max-width: 550px) {
          grid-template-columns: 1fr;
        }
      }

      .bottom_row {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
        align-items: center;
        gap: 28px;

        @media (max-width: 550px) {
          grid-template-columns: 1fr;
        }
      }

      .icon_image {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        margin-top: 30px;
      }

      .sizeImage_1 {
        width: 150px;
        height: 100px;
      }

      .sizeImage_2 {
        width: 82px;
        height: 106px;
      }

      .sizeImage_3 {
        width: 129px;
        height: 82px;
      }

      .sizeImage_4 {
        width: 145px;
        height: 83px;
      }

      .sizeImage_5 {
        width: 90px;
        height: 86px;
      }

      .divider {
        margin: 24px 20px 38px;
        height: 1px;
        width: 80%;
        background: #d9d9d9;

        @media (max-width: 1200px) {
          margin: 15px auto 24px auto;
        }

        @media (max-width: 550px) {
          margin: 29px auto 23px auto;
        }
      }
    }
  }

  .titleBlock {
    height: 328px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    background-image: url("../../../../public/blog/iaapa-2024-orlando/participantTitleBg.webp");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-top: 35px;
    padding-bottom: 35px;
    margin-bottom: 15px;

    @media (min-width: 744px) {
      align-items: flex-end;
      justify-content: flex-end;
      padding-right: 45px;
      padding-top: 113px;
      padding-bottom: 114px;
      background-image: url("../../../../public/blog/iaapa-2024-orlando/participantTitleBgTablet.webp");
    }

    @media (min-width: 956px) {
      margin-top: 55px;
      align-items: center;
      background-image: url("../../../../public/blog/iaapa-2024-orlando/participantTitleBgMiniDesktop.webp");
    }

    @media (min-width: 1170px) {
      max-width: 1171px;
      margin-top: 60px;
      background-image: url("../../../../public/blog/iaapa-2024-orlando/participantTitleBgDesktop.webp");
    }
  }

  .title {
    color: #fff;
    font-family: Manrope;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;

    @media (min-width: 744px) {
      font-size: 35px;
      margin-bottom: -85px;
    }

    @media (min-width: 956px) {
      margin-bottom: 0;
    }
  }
}

.videosBlock {
  padding-top: 32px;
  padding-bottom: 36px;
  background-image: url("../../../../public/blog/iaapa-2024-orlando/benefitsVideosBg.webp");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-bottom: 60px;
  overflow: hidden;

  @media (min-width: 744px) {
    background-image: url("../../../../public/blog/iaapa-2024-orlando/benefitsVideosBgTablet.webp");
    margin-bottom: 75px;
  }

  @media (min-width: 956px) {
    display: flex;
    align-items: center;
    background-image: url("../../../../public/blog/iaapa-2024-orlando/benefitsVideosBgMiniDesktop.webp");
    margin-bottom: 60px;
  }

  @media (min-width: 1170px) {
    background-image: url("../../../../public/blog/iaapa-2024-orlando/benefitsVideosBgDesktop.webp");
    margin-bottom: 100px;
    gap: 34px;
    padding-bottom: 16px;
  }
}

.videosBlockTitle {
  color: #000;
  font-family: Manrope;
  font-size: 35px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding-left: 43px;
  margin-bottom: 30px;

  span {
    color: #d22e2e;
  }

  @media (min-width: 956px) {
    font-size: 30px;
  }

  @media (min-width: 1170px) {
    font-size: 35px;
    margin-left: 25px;
  }
}

.videosList {
  display: flex;
  flex-direction: column;
  gap: 83px;
  border-radius: 10px;

  @media (min-width: 744px) {
    flex-direction: row;
    gap: 0;
  }
}

.videosItem {
  position: relative;
  width: 311px;
  height: 203px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-left: 51px;

  @media (min-width: 744px) {
    margin-left: 68px;
  }

  @media (min-width: 956px) {
    margin-left: 31px;
  }

  @media (min-width: 1170px) {
    width: 381px;
    height: 248px;
  }
}

.videosItem:nth-child(1) {
  @media (min-width: 1170px) {
    margin-left: 0;
  }
}

.videosItem:nth-child(2) {
  @media (min-width: 744px) {
    margin-left: 0;
  }
}

.videosItemTitleBox {
  padding: 10px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.videosItemTitleBox__one {
  margin-top: -2px;
  margin-left: -39px;

  @media (min-width: 1170px) {
    margin-top: -2px;
    margin-left: -39px;
  }
}

.videosItemTitleBox__two {
  margin: 0 auto;
  margin-top: 180px;
  z-index: 2;
  position: relative;

  @media (min-width: 1170px) {
    margin-top: 209px;
    margin-left: 22px;
  }
}

.videosItemTitle {
  color: #000;
  font-family: Manrope;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.benefitsHeroOne {
  position: relative;
  width: 160px;
  height: 201px;
  margin-left: -29px;

  @media (min-width: 1170px) {
    width: 195px;
    height: 247px;
    margin-top: 19px;
  }
}

.benefitsHeroTwo {
  position: relative;
  width: 106px;
  height: 205px;
  margin-top: -185px;
  margin-left: 194px;
  z-index: 1;

  @media (min-width: 1170px) {
    margin-top: -176px;
    margin-left: 238px;
  }
}

.playIcon {
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  z-index: 2;

  &:hover {
    color: #d22e2e;
  }
}
