.benefits {
  padding: 120px 0 40px 0;
  background: linear-gradient(180deg, #f0f0f0 0%, #fff 100%);

  .container {
    position: relative;
    width: 1170px;
    margin: 0 auto;

    @media (max-width: 1200px) {
      width: 100%;
    }

    .bg_logo {
      position: absolute;
      right: -686px;
      top: -116px;
      width: 872px;
      height: 872px;
      z-index: -1;

      @media (min-width: 1024px) {
        right: -581px;
        top: -138px;
      }

      @media (min-width: 1927px) {
        right: -504px;
        top: -108px;
      }
    }

    .subtitle {
      width: calc(100% - 30px);
      color: #000;
      text-align: center;
      font-family: Manrope;
      font-size: 30px;
      font-weight: 600;
      line-height: normal;
      text-transform: uppercase;
      margin: 0 auto;

      @media (min-width: 744px) {
        max-width: 702px;
        font-size: 40px;
      }

      @media (min-width: 1024px) {
        max-width: 877px;
        font-size: 45px;
      }

      span {
        font-weight: 800;
      }
    }

    .text {
      color: #000;
      font-family: Manrope;
      font-size: 16px;
      text-align: center;
      font-weight: 400;
      line-height: normal;
      margin-bottom: -16px;
      padding-left: 15px;
      padding-right: 15px;

      @media (min-width: 744px) {
        padding-left: 0;
        padding-right: 0;
      }

      @media (min-width: 1024px) {
        font-size: 19px;
      }
    }

    .benefits_list {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      @media (max-width: 743px) {
        margin-bottom: 40px;
      }

      @media (min-width: 744px) {
        flex-direction: row;
      }
    }

    .benefits_item {
      position: relative;
      width: 377px;
      height: 315px;
      display: flex;
      justify-content: center;

      @media (min-width: 1024px) {
        width: 505px;
        height: 423px;
      }

      @media (min-width: 1927px) {
        width: 624px;
        height: 522px;
      }
    }

    .benefits_title {
      color: #000;
      text-align: center;
      font-family: Manrope;
      font-size: 23px;
      font-weight: 700;
      line-height: normal;
      z-index: 2;
      margin: 0 auto;
      margin-top: 196px;

      @media (min-width: 1024px) {
        font-size: 28px;
        margin-top: 263px;
      }

      @media (min-width: 1927px) {
        font-size: 35px;
        margin-top: 321px;
      }
    }

    .benefits_subtitle {
      color: #000;
      text-align: center;
      font-family: Manrope;
      font-size: 25px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      margin: 0 auto;
      max-width: 341px;

      @media (min-width: 744px) {
        max-width: 402px;
        font-size: 36px;
      }

      @media (min-width: 956px) {
        max-width: 761px;
        font-size: 36px;
      }
    }

    .benefits_grid {
      display: flex;
      flex-direction: column;

      .grid_cell {
        margin: 0 auto;
        max-width: 305px;

        @media (min-width: 744px) {
          max-width: 200px;
        }

        @media (min-width: 1024px) {
          max-width: 299px;
        }

        @media (min-width: 1927px) {
          max-width: 336px;
        }
      }

      .upper_row {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-content: center;
        gap: 28px;

        @media (min-width: 744px) {
          display: flex;
          flex-wrap: wrap;
          align-items: baseline;
          padding-left: 20px;
          padding-right: 20px;
        }

        @media (min-width: 1024px) {
          gap: 43px;
        }

        @media (min-width: 1927px) {
          gap: 61px;
        }

        @media (max-width: 550px) {
          grid-template-columns: 1fr;
        }
      }

      .bottom_row {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
        align-items: center;
        gap: 28px;

        @media (max-width: 550px) {
          grid-template-columns: 1fr;
        }
      }

      .icon_image {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        margin-top: 30px;
      }

      .sizeImage_1 {
        width: 150px;
        height: 100px;
      }

      .sizeImage_2 {
        width: 82px;
        height: 106px;
      }

      .sizeImage_3 {
        width: 129px;
        height: 82px;
      }

      .sizeImage_4 {
        width: 145px;
        height: 83px;
      }

      .sizeImage_5 {
        width: 90px;
        height: 86px;
      }

      .divider {
        margin: 24px 20px 38px;
        height: 1px;
        width: 80%;
        background: #d9d9d9;

        @media (max-width: 1200px) {
          margin: 15px auto 24px auto;
        }

        @media (max-width: 550px) {
          margin: 29px auto 23px auto;
        }
      }
    }
  }

  .titleBlock {
    height: 328px;
    display: flex;
    align-items: end;
    justify-content: center;
    background-image: url("../../../../public/blog/iaapa-2024-orlando/participantTitleBg.webp");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-top: 35px;
    padding-bottom: 35px;

    @media (min-width: 744px) {
      justify-content: end;
      align-items: center;
      padding-right: 28px;
      padding-top: 113px;
      padding-bottom: 114px;
      background-image: url("../../../../public/blog/iaapa-2024-orlando/participantTitleBgDesktop.webp");
    }

    @media (min-width: 956px) {
      margin-top: 55px;
    }

    @media (min-width: 1170px) {
      max-width: 1171px;
      margin-top: 60px;
    }
  }

  .title {
    max-width: 284px;
    color: #fff;
    font-family: Manrope;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;

    @media (min-width: 744px) {
      max-width: 356px;
      font-size: 35px;
    }
  }
}
