.main {
    padding: 116px 0 60px 0;
    width: 1170px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;

    .title {
        color: #000;
        text-align: center;
        font-family: Manrope;
        font-size: 45px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        text-transform: uppercase;
        max-width: 1120px;

        span {
            color: #0090ff;
        }
    }

    .text {
        color: #000;
        text-align: center;
        font-family: Manrope;
        font-size: 24px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        max-width: 972px;
        margin-top: 12px;
    }
}

@media (max-width: 1200px) {
    .main {
        padding: 75px 20px 75px 20px;
        width: 100%;
    }
}

@media (max-width: 768px) {
    .main {
        padding: 50px 15px 50px 15px;

        .title {
            font-size: 35px;
        }

        .text {
            font-size: 16px;
            margin-top: 30px;
        }
    }
}
