@import "../default";

.main {
    position: relative;
    margin: 72px 67px 0 67px;
    background-color: #fff;
    border-radius: 10px;
    filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.1));
    display: flex;
    justify-content: center;
    overflow: hidden;

    .main_ribbon {
        position: absolute;
        top: -350px;
        right: 430px;
        transform: rotate(25deg);
        text-wrap: nowrap;
        width: 1180px;
        background: #070707;
        height: 57px;


        @media (max-width: 1335px) {
            top: -40px;
            transform: rotate(15deg);
        }

        @media (max-width: 1100px) {
            top: -40px;
            transform: rotate(12deg);
        }

        @media (max-width: 840px) {
            display: none;
        }

        .ribbon__text {
            position: absolute;
            top: 22.5%;
            left: -50px;
            color: #F90;
            font-family: $font-1;
            font-size: 24px;
            font-style: normal;
            font-weight: 800;
            line-height: normal;
            text-transform: uppercase;
            padding: 0 3px;
            animation: moveText 12s linear infinite;
        }

        .ribbon__text_1 {
            animation-delay: 0s;
        }

        .ribbon__text_2 {
            animation-delay: 3s;
        }

        .ribbon__text_3 {
            animation-delay: 6s;
        }

        .ribbon__text_4 {
            animation-delay: 9s;
        }
    }

    .main_ribbon_2 {
        position: absolute;
        bottom: -650px;
        right: 150px;
        transform: rotate(-55deg);
        text-wrap: nowrap;
        width: 1180px;
        background: #F90;
        height: 57px;
        z-index: -1;

        @media (max-width: 1335px) {
            transform: rotate(-45deg);
        }

        @media (max-width: 1100px) {
            right: -400px;
        }

        @media (max-width: 840px) {
            display: none;
        }

        .ribbon__text {
            position: absolute;
            top: 22.5%;
            left: -50px;
            color: #070707;
            font-family: $font-1;
            font-size: 24px;
            font-style: normal;
            font-weight: 800;
            line-height: normal;
            text-transform: uppercase;
            padding: 0 3px;
            animation: moveText 12s linear infinite;
        }

        .ribbon__text_1 {
            animation-delay: 0s;
        }

        .ribbon__text_2 {
            animation-delay: 3s;
        }

        .ribbon__text_3 {
            animation-delay: 6s;
        }

        .ribbon__text_4 {
            animation-delay: 9s;
        }
    }

    .main_ribbon_3 {
        position: absolute;
        bottom: 820px;
        left: -950px;
        transform: rotate(55deg);
        text-wrap: nowrap;
        width: 1180px;
        background: #F90;
        height: 57px;
        z-index: -1;

        @media (max-width: 840px) {
            display: none;
        }

        .ribbon__text {
            position: absolute;
            top: 22.5%;
            left: -300px;
            color: #070707;
            font-family: $font-1;
            font-size: 24px;
            font-style: normal;
            font-weight: 800;
            line-height: normal;
            text-transform: uppercase;
            padding: 0 3px;
            animation: moveText 12s linear infinite;
        }

        .ribbon__text_1 {
            animation-delay: 0s;
        }

        .ribbon__text_2 {
            animation-delay: 3s;
        }

        .ribbon__text_3 {
            animation-delay: 6s;
        }

        .ribbon__text_4 {
            animation-delay: 9s;
        }
    }

    .content {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 75px 0;

        .title {
            max-width: 900px;
            font-family: $font-1;
            font-style: normal;
            font-weight: 600;
            font-size: 48px;
            line-height: 1em;
            text-align: center;
            text-transform: uppercase;
            color: #040E18;
        }

        .text {
            margin-top: 18px;
            max-width: 680px;
            font-family: $font-1;
            font-style: normal;
            font-weight: 600;
            font-size: 20px;
            line-height: 1.35em;
            text-align: center;
            text-transform: uppercase;
            color: #000000;
        }
    }
}

.animation_ribbon_1 {
    animation: moveTextBlock_1 1s linear forwards;
}

.animation_ribbon_2 {
    animation: moveTextBlock_2 1s linear forwards;
}

.animation_ribbon_3 {
    animation: moveTextBlock_3 1s linear forwards;
}

@keyframes moveTextBlock_1 {
    0% {
        top: -350px;
        right: 430px;
    }

    100% {
        top: -40px;
        right: -280px;
    }
}

@keyframes moveTextBlock_2 {
    0% {
        bottom: -650px;
        right: 150px;
    }

    100% {
        bottom: -10px;
        right: -300px;
    }
}

@keyframes moveTextBlock_3 {
    0% {
        bottom: 820px;
        left: -950px;
    }

    100% {
        bottom: 100px;
        left: -450px;
    }
}

@keyframes moveText {
    0% {
        left: -50px;
    }

    100% {
        left: 1420px;
    }
}

.spider_web {
    position: absolute;
    transform: scale(0);
    opacity: 0;
    transform-origin: 0 0;
    top: 0;
    left: 0;

    @media (max-width: 1024px) {
        left: -20px;

        svg {
            width: 250px;
            height: 200px;
        }
    }
}

.spider {
    position: absolute;
    top: 126px;
    left: 139px;
    transform: scale(0);
    z-index: -1;

    @media (max-width: 600px) {
        display: none;
    }

    @media (max-width: 1024px) {
        top: 66px;
        left: 89px;

        svg {
            width: 50px;
            height: 32px;
        }
    }
}

.thread__of__web {
    position: absolute;
    top: 146px;
    left: 188px;
    width: .5px;
    height: 0;
    background-color: #16001A;
    opacity: .5;
    z-index: -1;

    @media (max-width: 1024px) {
        top: 80px;
        left: 113px;
    }

    @media (max-width: 600px) {
        display: none;
    }
}

.moveThread {
    animation: moveThread 3s ease-in-out 2s forwards;

    @media (max-width: 1024px) {
        animation: moveThreadMob 4s ease-in-out 2s forwards;
        ;
    }
}

@keyframes moveThread {
    0% {
        height: 0;
    }

    100% {
        height: 200px;
    }
}

@keyframes moveThreadMob {
    0% {
        height: 0;
    }

    100% {
        height: 140px;
    }
}

.scaleAnimation {
    animation: scaleAnimation 2s forwards;
}

.scaleAnimationAndMove {
    animation: scaleAnimation 1s ease-in-out 1.5s forwards, spiderMove 4s ease-in-out 1.8s forwards;

    @media (max-width: 1024px) {
        animation: scaleAnimation 1s ease-in-out 1.5s forwards, spiderMoveMob 4s ease-in-out 1.8s forwards;
    }
}

@keyframes scaleAnimation {
    0% {
        transform: scale(0);
        opacity: 0;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes spiderMove {
    0% {
        top: 126px;
    }

    100% {
        top: 341px;
    }
}

@keyframes spiderMoveMob {
    0% {
        top: 66px;
    }

    100% {
        top: 200px;
    }
}

.right_ribbon {
    position: absolute;
    height: 100%;
    bottom: -30px;
    right: 0;
    z-index: -1;
}

.left_ribbon {
    position: absolute;
    height: 100%;
    bottom: -30px;
    left: 0;
    z-index: -1;
}

.right_blue_ribbon {
    position: absolute;
    height: 100%;
    bottom: 0;
    right: 0;
    z-index: -1;
}

@media (max-width: 1950px) {
    .right_blue_ribbon {
        transform: translate(45%);
    }
}

@media (max-width: 1450px) {
    .right_ribbon {
        transform: translate(45%);
    }
}

@media (max-width: 1300px) {
    .main {
        position: relative;
        margin: 72px 20px 0 20px;
    }
}

@media (max-width: 1150px) {
    .right_blue_ribbon {
        transform: translate(60%);
    }

    .left_ribbon {
        transform: translate(-20%);
    }
}

@media (max-width: 1024px) {
    .right_blue_ribbon {
        display: none;
    }

    .left_ribbon {
        display: none;
    }

    .right_ribbon {
        display: none;
    }

    .main {
        .content {
            padding: 75px 20px;

            .title {
                font-size: 36px;
            }
        }
    }
}

@media (max-width: 650px) {
    .main {
        .content {

            .title {
                font-size: 30px;
            }

            .text {
                font-size: 16px;
            }
        }
    }
}