@import "../default";

.main {
    position: relative;
    margin: 72px 67px 0 67px;
    background-color: #fff;
    border-radius: 10px;
    filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.1));
    display: flex;
    justify-content: center;
    overflow: hidden;

    .content {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 75px 0;

        .title {
            max-width: 900px;
            font-family: $font-1;
            font-style: normal;
            font-weight: 600;
            font-size: 48px;
            line-height: 1em;
            text-align: center;
            text-transform: uppercase;
            color: #040E18;
        }

        .text {
            margin-top: 18px;
            max-width: 680px;
            font-family: $font-1;
            font-style: normal;
            font-weight: 600;
            font-size: 20px;
            line-height: 1.35em;
            text-align: center;
            text-transform: uppercase;
            color: #000000;
        }
    }
}

.spider_web {
    position: absolute;
    transform: scale(0);
    opacity: 0;
    transform-origin: 0 0;
    top: 0;
    left: 0;

    @media (max-width: 1024px) {
        left: -20px;

        svg {
            width: 250px;
            height: 200px;
        }
    }
}

.spider {
    position: absolute;
    top: 126px;
    left: 139px;
    transform: scale(0);
    z-index: -1;

    @media (max-width: 600px) {
        display: none;
    }

    @media (max-width: 1024px) {
        top: 66px;
        left: 89px;

        svg {
            width: 50px;
            height: 32px;
        }
    }
}

.thread__of__web {
    position: absolute;
    top: 146px;
    left: 188px;
    width: .5px;
    height: 0;
    background-color: #16001A;
    opacity: .5;
    z-index: -1;

    @media (max-width: 1024px) {
        top: 80px;
        left: 113px;
    }

    @media (max-width: 600px) {
        display: none;
    }
}

.moveThread {
    animation: moveThread 3s ease-in-out 2s forwards;

    @media (max-width: 1024px) {
        animation: moveThreadMob 4s ease-in-out 2s forwards;
        ;
    }
}

@keyframes moveThread {
    0% {
        height: 0;
    }

    100% {
        height: 200px;
    }
}

@keyframes moveThreadMob {
    0% {
        height: 0;
    }

    100% {
        height: 140px;
    }
}

.scaleAnimation {
    animation: scaleAnimation 2s forwards;
}

.scaleAnimationAndMove {
    animation: scaleAnimation 1s ease-in-out 1.5s forwards, spiderMove 4s ease-in-out 1.8s forwards;

    @media (max-width: 1024px) {
        animation: scaleAnimation 1s ease-in-out 1.5s forwards, spiderMoveMob 4s ease-in-out 1.8s forwards;
    }
}

@keyframes scaleAnimation {
    0% {
        transform: scale(0);
        opacity: 0;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes spiderMove {
    0% {
        top: 126px;
    }

    100% {
        top: 341px;
    }
}

@keyframes spiderMoveMob {
    0% {
        top: 66px;
    }

    100% {
        top: 200px;
    }
}

.right_ribbon {
    position: absolute;
    height: 100%;
    bottom: -30px;
    right: 0;
    z-index: -1;
}

.left_ribbon {
    position: absolute;
    height: 100%;
    bottom: -30px;
    left: 0;
    z-index: -1;
}

.right_blue_ribbon {
    position: absolute;
    height: 100%;
    bottom: 0;
    right: 0;
    z-index: -1;
}

@media (max-width: 1950px) {
    .right_blue_ribbon {
        transform: translate(45%);
    }
}

@media (max-width: 1450px) {
    .right_ribbon {
        transform: translate(45%);
    }
}

@media (max-width: 1300px) {
    .main {
        position: relative;
        margin: 72px 20px 0 20px;
    }
}

@media (max-width: 1150px) {
    .right_blue_ribbon {
        transform: translate(60%);
    }

    .left_ribbon {
        transform: translate(-20%);
    }
}

@media (max-width: 1024px) {
    .right_blue_ribbon {
        display: none;
    }

    .left_ribbon {
        display: none;
    }

    .right_ribbon {
        display: none;
    }

    .main {
        .content {
            padding: 75px 20px;

            .title {
                font-size: 36px;
            }
        }
    }
}

@media (max-width: 650px) {
    .main {
        .content {

            .title {
                font-size: 30px;
            }

            .text {
                font-size: 16px;
            }
        }
    }
}