%margins {
	width: 1170px;
	margin: 0 auto;
}
%input {
	font-weight: 400;
	padding: 18px 16px;
	font-size: 14px;
	line-height: 14px;
	background-color: #212121;
	color: #8e8e8e;
	width: 100%;
	outline: 0;
	border: 0;
	border-radius: 5px;
}
%margins_inputs {
	width: 575px;
	margin: 0 auto;
}
%button {
	background-color: #8e8e8e;
	padding: 13px;
	border-radius: 5px;
	color: white;
	outline: 0;
	border: 0;
}
.city_text {
	margin: 50px 0;
	font-weight: 400;
	font-size: 12px;
	line-height: 18px;
	color: #8e8e8e;
	a {
		margin: 0 3px;
		color: #0090ff;
	}
	a:hover {
		color: #005799;
	}
}
.tool_tip {
	background-color: rgba(0, 0, 0, 0.829);
	color: #fff;
	font-weight: 500;
	border-radius: 0;
}
.clubs {
	@extend %margins;
}
.page {
	background-color: #101010;
}
.title {
	margin: 60px 0 40px;
	font-weight: 500;
	font-size: 40px;
	line-height: 47px;
	color: #ffffff;
}
.tile_to_tile {
	.tile_to_tile__title {
		margin: 60px 0 40px;
		font-weight: 500;
		font-size: 40px;
		line-height: 47px;
		color: #ffffff;
	}
}
.clubsMap {
	@extend %margins;
}
.addClub_button {
	background-color: rgba(255, 255, 255, 0);
	border: 0;
	padding: 0;
	outline: 0;
	color: white;
	display: grid;
	grid-template-columns: 36px 145px;
	align-items: center;
	font-weight: 500;
	font-size: 15px;
	line-height: 18px;
	color: #ffffff;
	width: 200px;
	grid-column-gap: 20px;
	cursor: pointer;
}
.addClub_button:hover {
	span {
		color: #4f4f4f;
	}
}
.cities_block {
	margin: 80px 0 100px;
	h2 {
		font-weight: 400;
		font-size: 18px;
		line-height: 21px;
		color: #ffffff;
		padding-bottom: 20px;
		border-bottom: 1px solid #4f4f4f;
		margin-bottom: 35px;
	}
}
.cards_grid {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
	margin-bottom: 100px;
}
.club_type {
	font-weight: 400;
	font-size: 12px;
	line-height: 14px;
	color: #0090ff;
	margin-bottom: 10px;
	text-transform: capitalize;
}
.club_name {
	text-transform: capitalize;
	font-weight: 500;
	font-size: 18px;
	line-height: 21px;
	color: #ffffff;
	margin-bottom: 40px;
}
.category_block {
	width: 100%;
	display: grid;
	grid-template-columns: 2fr 6fr;
	margin-bottom: 20px;
}
.copied {
	bottom: 0;
	right: 0;
	display: none;
	position: absolute;
	z-index: 2;
	background-color: #000;
	color: #0090ff;
	padding: 10px;
}
.category_block_blue {
	width: 100%;
	position: relative;
	display: grid;
	grid-template-columns: 2fr 6fr;
	margin-bottom: 10px;
	.club_text {
		width: 100%;
		overflow-wrap: anywhere;
		color: #0090ff;
	}
	.active {
		display: block;
	}
}

.club_category {
	font-weight: 400;
	font-size: 10px;
	line-height: 16px;
	color: #8e8e8e;
}
.social_links_grid {
	margin-top: 50px;
	width: 100%;
	display: grid;
	grid-template-columns: 2fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
.social_link_button {
	cursor: pointer;
	background-color: rgba(255, 255, 255, 0);
	outline: 0;
	border: 0;
}
.club_text {
	font-weight: 400;
	font-size: 12px;
	line-height: 20px;
	color: #ffffff;
	text-align: left;
}
.bordered_block {
	cursor: pointer;
	display: flex;
	justify-content: space-between;
	padding-bottom: 20px;
	border-bottom: 1px solid #4f4f4f;
	margin-bottom: 45px;
	h2 {
		font-weight: 400;
		font-size: 18px;
		line-height: 21px;
		color: #ffffff;
	}
	button {
		background-color: rgba(255, 255, 255, 0);
		outline: 0;
		border: 0;
		padding: 0;
		height: max-content;
		width: max-content;
	}
	* {
		cursor: pointer;
	}
}
.bordered_block:hover {
	.cross {
		fill: white;
	}
}
.card {
	background-color: #212121;
	border-radius: 3px;
	padding: 25px 40px 30px 25px;
}
.cities_grid {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}
.city_cell {
	margin-bottom: 50px;
	h3 {
		font-weight: 500;
		font-size: 18px;
		line-height: 21px;
		color: #0090ff;
		margin-bottom: 30px;
	}
}
.city_item {
	cursor: pointer;
	margin-bottom: 20px;
	p {
		font-weight: 400;
		font-size: 14px;
		line-height: 16px;
		color: #ffffff;
		transition: all 0.2s ease-in-out;
	}

	p:hover {
		color: #4f4f4f;
	}
}
.map {
	height: max-content;
	width: 100%;
	img {
		width: 100%;
	}
}
.content {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.inputs_head {
	margin-top: 70px;
	margin-bottom: 60px;
	@extend %margins_inputs;
	display: grid;
	grid-template-columns: 9fr 1fr;
	align-items: center;
}
.inputs_head__content {
	width: 75%;
	.inputs_title {
		font-weight: 500;
		font-size: 24px;
		line-height: 34px;
		color: #ffffff;
	}
	.inputs_text {
		font-weight: 400;
		font-size: 14px;
		line-height: 20px;
		color: #828282;
	}
}
.inputs_head__button {
	cursor: pointer;
	background-color: #101010;
	font-weight: 500;
	font-size: 15px;
	line-height: 18px;
	color: #8e8e8e;
	outline: 0;
	border: 0;
	padding: 0;
	margin: 0;
	height: 100%;
	display: grid;
	grid-template-columns: 1fr 9fr;
	align-items: center;
	grid-column-gap: 20px;
	.inputs_head__button_text {
		width: max-content;
	}
}
.inputs_body {
	@extend %margins_inputs;
	margin-bottom: 85px;
	.inputs_body__input {
		@extend %input;
		margin-bottom: 20px;
	}
	.inputs_body__input :last-child {
		margin-bottom: 0;
	}
}
.inputs_bottom {
	@extend %margins_inputs;
	margin-bottom: 100px;
}
.inputs_bottom__title {
	font-weight: 400;
	width: 100%;
	padding-bottom: 23px;
	border-bottom: 1px solid #4f4f4f;
	font-size: 18px;
	line-height: 21px;
	color: #ffffff;
}
.inputs_bottom__button {
	background-color: #8e8e8e;
	padding: 13px;
	width: 100%;
	border-radius: 5px;
	color: white;
	outline: 0;
	border: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	.button_text {
		font-weight: 500;
		font-size: 15px;
		line-height: 18px;
		color: #ffffff;
	}
	svg {
		margin-right: 15px;
	}
}
.inputs_bottom__button:hover {
	background-color: #0090ff;
}
.send_block {
	cursor: pointer;
	margin-bottom: 150px;
	@extend %margins_inputs;
	display: grid;
	grid-template-columns: 1fr 1fr;
}
.send_block_left {
	display: flex;
}
.send_block__text {
	font-weight: normal;
	font-size: 12px;
	line-height: 18px;
	color: #8e8e8e;
	margin-right: 25px;
	a {
		color: #0090ff;
	}
	a:hover {
		color: #005596;
	}
}
.radio {
	align-self: flex-start;
	background-color: rgba(255, 255, 255, 0);
	outline: 0;
	border: 0;
	cursor: pointer;
	svg {
		margin-right: 20px;
	}
	svg:hover {
		.circle {
			stroke-width: 0;
		}
	}
}
.radio_active {
	svg {
		.circle {
			r: 7;
			border: 2px solid white;
			stroke-width: 3px;
			fill: #0090ff;
		}
	}
}
.send_button {
	padding: 18px 0;
	border: 0;
	border-radius: 5px;
	outline: 0;
	background-color: #8e8e8e;
	font-weight: 500;
	font-size: 14px;
	line-height: 16px;
	text-align: center;
	color: #ffffff;
}
.send_button_active {
	border: 0;
	border-radius: 5px;
	outline: 0;
	background-color: #0090ff;
	font-weight: 500;
	font-size: 14px;
	line-height: 16px;
	text-align: center;
	color: #ffffff;
	cursor: pointer;
}
.send_button:hover {
	background-color: #0074cc;
}
.inputs_head__back {
	cursor: pointer;
	border-left: 1px solid #212121;
	height: 100%;
	padding-left: 25px;
	align-items: center;
}
.inputs_head__back:hover {
	.inputs_head__button {
		color: white;
	}
	.input_vector {
		fill: #ffffff;
	}
}
.inputs_bottom__input {
	@extend %input;
	margin-bottom: 25px;
}
.social_block {
	display: flex;
}
.social {
	@extend %input;
}
.dropped_list {
	@extend %margins_inputs;
	position: absolute;
	background-color: #000;
	height: 400px;
	overflow-y: scroll;
	p {
		color: #8e8e8e;
	}
}

@media (max-width: 1200px) {
	%margins {
		width: auto;
		margin-right: 20px;
		margin-left: 20px;
	}
}
@media (max-width: 992px) {
	.cards_grid {
		grid-template-columns: 1fr 1fr;
	}
	.cities_grid {
		grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	}
}
@media (max-width: 768px) {
	.cities_grid {
		grid-template-columns: 1fr 1fr 1fr 1fr;
	}
}
@media (max-width: 768px) {
	.cards_grid {
		grid-template-columns: 1fr;
	}
}
@media (max-width: 576px) {
	.title {
		margin: 60px 0 40px;
		font-size: 36px;
		line-height: 42px;
	}
	.inputs_head__content {
		width: 90%;
	}
	.send_block {
		grid-template-columns: 1fr;
		grid-row-gap: 20px;
	}
	%margins_inputs {
		width: auto;
		margin-right: 20px;
		margin-left: 20px;
	}
	.cities_grid {
		grid-template-columns: 1fr 1fr 1fr;
	}
}
@media (max-width: 500px) {
	.cities_grid {
		grid-template-columns: 1fr 1fr;
	}
}
@media (max-width: 330px) {
	.cities_grid {
		grid-template-columns: 1fr;
	}
}
