.slider {
	position: relative;
	display: grid;
	grid-template-columns: 1fr 972px 1fr;
	width: 100%;
}
.image_cell {
	cursor: pointer;
	position: relative;
	width: 100%;
	height: 100%;
	img {
		pointer-events: none;
		-moz-user-select: none;
		-webkit-user-select: none;
		-ms-user-select: none;
		user-select: none;
	}
}
.image_cell:hover {
	img {
		opacity: 0.6;
	}
}
.center:hover {
	img {
		opacity: 1;
	}
}
.ontop {
	position: absolute;
	z-index: 10;
	width: 100%;
	height: 100%;
}
.cell_button {
	position: absolute;
	bottom: 50px;
	z-index: 10;
	width: 100%;
	display: flex;
	justify-content: center;
}
.button_prev {
	position: absolute;
	top: 50%;
	left: -100px;
	z-index: 10;
}
.button_next {
	position: absolute;
	top: 50%;
	right: -100px;
	z-index: 10;
}
.svg_button {
	cursor: pointer;
}
.svg_button:hover {
	.circle {
		fill: #fff;
		fill-opacity: 0.8;
	}
	.arrow {
		fill: black;
	}
}
.slider_changer_out {
	width: 1170px;
	margin: 60px auto 40px;
}
.slider_changer {
	display: flex;
	width: max-content;
	background-color: #212121;
	border-radius: 260px;
	.active {
		background-color: #fff;
		color: #000000;
	}
}
.slider_changer:hover {
	.active {
		background-color: #ffffff1c;
		color: #fff;
	}
	.active:hover {
		background-color: #fff;
		color: #000000;
	}
}
.center {
	z-index: 11;
}
.slider_changer_text {
	font-family: Inter;
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 19px;
	color: #fff;
	padding: 10px 20px;
	cursor: pointer;
	margin: 0 1px;
	border-radius: 40px;
	transition: all 0.4s ease-in-out;
}

.slider_changer_text:hover {
	background-color: #fff;
	color: #000000;
}
@media (max-width: 1200px) {
	.slider_changer_out {
		width: auto;
		margin: 0 0 20px;
	}
	.slider {
		grid-template-columns: 1fr;
	}
	.image_cell {
		display: none;
	}
	.center {
		display: block;
	}
	.button_prev {
		top: 35%;
		left: 20px;
	}
	.button_next {
		top: 35%;
		right: 20px;
	}
}
@media (max-width: 1000px) {
	.slider_changer_out {
		height: auto;
		padding: 0 0 10px 15px;
		overflow-y: hidden;
		overflow-x: scroll;
	}
	.cell_button {
		position: absolute;
		bottom: -60px;
	}
	.slider {
		margin-bottom: 50px;
	}
}
