.join_us {
  background-color: #0090ff;
  width: 100vw;
  padding: 34px 0;
  border-radius: 20px;

  @media (max-width: 1200px) {
    padding: 34px 20px;
  }

  .wrapper {
    width: 1170px;
    margin: 0 auto;

    @media (max-width: 1200px) {
      width: 100%;
    }

    .join_us_content {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 129px;

      @media (max-width: 1024px) {
        gap: 20px;
      }

      @media (max-width: 500px) {
        gap: 22px;
        flex-direction: column;
      }

      .join_us__text {
        max-width: 304px;
        color: #fff;
        font-family: Manrope;
        font-size: 24px;
        text-align: center;
        font-weight: 700;
        line-height: normal;
        text-transform: uppercase;

        @media (min-width: 744px) {
          text-align: start;
        }
      }

      .join_us__text_span {
        color: #000;
      }

      .register__button {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 16px 0;
        width: 352px;
        max-height: 57px;
        border-radius: 60px;
        background-color: #fff;
        color: #000;
        text-align: center;
        font-family: Manrope;
        font-size: 18px;
        font-weight: 600;
        line-height: normal;
        letter-spacing: 0.36px;
        text-transform: uppercase;
        transition: all 0.4s ease;

        &:hover {
          transition: all 0.4s ease;
          background-color: #000;
          color: #fff;
        }
      }
    }
  }
}

.join_us_with_margin_top {
  margin-top: 138px;
}
