.join_us {
    background-color: #0090ff;
    width: 100vw;
    padding: 34px 0;

    @media (max-width: 1200px) {
        padding: 34px 20px;
    }

    .wrapper {
        width: 1170px;
        margin: 0 auto;

        @media (max-width: 1200px) {
            width: 100%;
        }

        .join_us_content {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 129px;

            @media (max-width: 1024px) {
                gap: 20px;
            }

            @media (max-width: 500px) {
                gap: 22px;
                flex-direction: column;
            }

            .join_us__text {
                color: #fff;
                font-family: Manrope;
                font-size: 29px;
                font-style: normal;
                font-weight: 700;
                line-height: 113.793%;
                text-transform: uppercase;
                max-width: 420px;

                @media (max-width: 1024px) {
                    font-size: 25.117px;
                }

                @media (max-width: 750px) {
                    font-size: 18.363px;
                }

                @media (max-width: 500px) {
                    text-align: center;
                    font-size: 30px;
                }
            }

            .register__button {
                display: flex;
                align-items: center;
                justify-content: center;
                box-sizing: border-box;
                padding: 16px 0;
                max-width: 476px;
                max-height: 57px;
                width: 100%;
                border-radius: 60px;
                background-color: #fff;
                color: #000;
                text-align: center;
                font-family: Manrope;
                font-size: 18px;
                font-style: normal;
                font-weight: 600;
                line-height: normal;
                letter-spacing: 0.36px;
                text-transform: uppercase;
                transition: all 0.4s ease;

                &:hover {
                    transition: all 0.4s ease;
                    background-color: #000;
                    color: #fff;
                }

                @media (max-width: 1024px) {
                    max-width: 412px;
                    font-size: 15.59px;
                }

                @media (max-width: 750px) {
                    padding: 10px 0;
                    max-width: 301px;
                    font-size: 11.398px;
                }

                @media (max-width: 500px) {
                    padding: 15px 0;
                    max-width: 254px;
                    font-size: 18px;
                }
            }
        }
    }
}

.join_us_with_margin_top {
    margin-top: 138px;
}
