@import "../../default";
.thank_you {
	padding: 60px 50px 80px;
	border-radius: 20px;
}

.thank_you_conv {
	padding: 60px 50px 24px;
	border-radius: 20px;
}
.main {
	@extend %page_grid;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.title {
	font-family: $font-1;
	font-weight: 500;
	font-size: 55px;
	line-height: 65px;
	text-align: center;
	text-transform: uppercase;
	color: #000;
	span {
		color: #0090ff;
		font-weight: 700;
	}
	margin: 0 0 15px;
}
.subtitle {
	font-family: $font-1;
	font-weight: 500;
	font-size: 18px;
	line-height: 20px;
	text-align: center;
	color: #828282;
}

@media (max-width: 550px) {
	.main {
		padding: 0 20px 30px;
		margin: 0;
	}
	.title {
		font-size: 30px;
		line-height: 40px;
		margin: 0 0 20px;
	}
	.thank_you {
		padding: 0;
	}
}
