@import "../default";

.section {
  position: relative;
  padding-bottom: 50px;
}
.section_inner {
  @extend %page_grid;
  padding-top: 40px;
  position: relative;
  z-index: 1;
}
.responsive {
  display: none;
}
.words_slider {
  position: absolute;
  z-index: 0;
  left: 0;
  bottom: 0px;
}
.subtitle {
  font-weight: 700;
  font-size: 45px;
  line-height: normal;
  color: $color-2;
  text-transform: uppercase;
  margin: 0 0 25px;
}
.text {
  font-family: $font-1;
  font-weight: 500;
  font-size: 24px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: $color-2;

  span {
    color: #0090ff;
    font-weight: 800;
  }
}
.image_outer {
  position: relative;
  width: 100%;
  height: 560px;
  border-radius: 20px;
  overflow: hidden;
  * {
    user-select: none;
    pointer-events: none;
  }
}
@keyframes radial-pulse {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.97);
  }
}
@media (max-width: 750px) {
  .desktop {
    display: none;
  }
  .responsive {
    display: block;
  }
}
@media (max-width: 600px) {
  .image_outer {
    height: 385px;
  }
  .title {
    font-weight: 500;
    font-size: 45px;
    line-height: 50px;
    span {
      font-weight: 600;
    }
    br {
      display: none;
    }
  }
  .text {
    font-size: 14px;
    line-height: 18px;
  }
}
