@import "../default";

.main {
	background: #f0f0f2;
	margin-top: -100px;
	padding-top: 100px;
}
.main__in {
	@extend %page_grid;
}
.image {
	position: relative;
	width: 100%;
	max-width: 1150px;
	height: 520px;
}
.image_with_resp_ver {
	.image_desktop {
		display: block;
	}
	.image_responsive {
		display: none;
	}
}
.event_info_top {
	display: grid;
	grid-template-columns: 3fr 4fr 5fr;
	grid-template-areas: "logo text timer";
	align-items: center;
	grid-gap: 20px;
	margin-bottom: 25px;
	width: 100%;
}
.event_info_top__text {
	grid-area: text;
	font-family: $font-1;
	font-style: normal;
	font-weight: 500;
	font-size: 20px;
	line-height: 30px;
	color: #040e18;
	padding: 10px 0 10px 30px;
	border-left: 1px solid #0090ff;
}
.event_info_top__logo {
	grid-area: logo;
	position: relative;
	width: 100%;
	max-width: 300px;
	height: 80px;
}
.counter_outer {
	grid-area: timer;
}
.counter_title {
	font-family: $font-1;
	font-weight: 500;
	font-size: 20px;
	line-height: 24px;
	text-transform: uppercase;
	color: #8e8e8e;
	margin-bottom: 10px;
}
.title {
	font-family: $font-1;
	font-weight: 600;
	font-size: 60px;
	line-height: 65px;
	text-transform: uppercase;
	color: #040e18;
	span {
		font-weight: 500;
		color: #0090ff;
	}
}
.when {
	display: flex;
	flex-direction: column;
	margin-right: 60px;
}
.date {
	svg {
		margin-right: 10px;
	}
	display: flex;
	align-items: center;
	font-family: $font-1;
	font-weight: 500;
	font-size: 14px;
	line-height: 19px;
	text-transform: uppercase;
	color: #8e8e8e;
	margin-bottom: 5px;
}
.date_text {
	font-family: $font-1;
	font-weight: 500;
	font-size: 20px;
	line-height: 27px;

	color: #040e18;
}
.where {
	display: flex;
	flex-direction: column;
}
.place {
	svg {
		margin-right: 10px;
	}
	display: flex;
	align-items: center;
	font-family: $font-1;
	font-weight: 500;
	font-size: 14px;
	line-height: 19px;
	text-transform: uppercase;
	color: #8e8e8e;
	margin-bottom: 5px;
}
.place_text {
	font-family: $font-1;
	font-weight: 500;
	font-size: 20px;
	line-height: 24px;
	color: #040e18;
}
.event_info {
	display: flex;
}
@media (max-width: 1100px) {
	.event_info_top {
		grid-template-columns: 1fr 2fr;
		grid-template-areas:
			"logo text"
			"timer timer";
	}
}
@media (max-width: 750px) {
	.event_info_top {
		grid-template-columns: 1fr 1fr;
	}
	.event_info_top__text {
		font-size: 16px;
		line-height: 24px;
		br {
			display: none;
		}
	}

	.event_info_top__logo {
		height: 50px;
	}
	.image_with_resp_ver {
		.image_desktop {
			display: none;
		}
		.image_responsive {
			display: block;
		}
	}
}
@media (max-width: 650px) {
	.title {
		font-size: 40px;
		line-height: 45px;
		br {
			display: none;
		}
	}
	.when {
		margin-right: 0;
	}
	.event_info {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-gap: 22px;
	}
	.place_text {
		font-size: 16px;
		line-height: 24px;
	}
	.image {
		height: 350px;
	}
}
