.video_popup_out {
	position: fixed;
	z-index: 51;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0 10%;
}
.video_block {
	width: 100%;
	position: relative;
}
.video_popup {
	position: relative;
	z-index: 53;
	width: 100%;
}
.video_button_close {
	cursor: pointer;
	background-color: rgba(255, 255, 255, 0);
	outline: 0;
	border: 0;
}

.close_block {
	cursor: pointer;
	position: absolute;
	z-index: 52;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.568);
	&:hover ~ .video_popup {
		.button_out {
			.video_button_close {
				.cross_bg {
					fill: #494949;
				}
				.cross {
					fill: rgb(0, 0, 0);
				}
			}
		}
	}
}

.button_out {
	cursor: pointer;
	display: flex;
	justify-content: flex-end;
	&:hover {
		.cross_bg {
			fill: #494949;
		}
		.cross {
			fill: rgb(0, 0, 0);
		}
	}
}
.lp {
	z-index: 101;
	.cross_lp {
		rect {
			stroke: #8e8e8e;
		}
		path {
			fill: #fff;
		}
	}
	.button_out {
		cursor: pointer;
		display: flex;
		justify-content: center;
		padding-bottom: 30px;
		&:hover {
			.cross_lp {
				rect {
					stroke: #fff;
				}
				path {
					fill: #8e8e8e;
				}
			}
		}
	}
	.close_block {
		background: #1d2022ef;
		&:hover ~ .video_popup {
			.button_out {
				.cross_lp {
					rect {
						stroke: #fff;
					}
					path {
						fill: #8e8e8e;
					}
				}
			}
		}
	}
}
@media (max-width: 1279px) {
	.video_block {
		padding-bottom: 55.25%;
		height: 0;
		width: auto;
	}
}
@media (max-width: 600px) {
	.video_popup_out {
		padding: 0 0;
	}
}
