.agreement {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 15px;
  margin-top: 5px;
}

.agreement__req {
  display: flex;

  .agreement__req_span {
    color: #0090ff;
  }

  .agreement__req_text {
    margin-left: 10px;
    color: #8e8e8e;
    font-size: 10px;
    line-height: 14px;
  }
}

.agreement__checkbox {
  width: 17px;
  height: 17px;
  flex-shrink: 0;
  cursor: pointer;
  border-radius: 100px;
  border: 2px solid #0090ff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.agreement__checkbox_active {
  .agreement_dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #0090ff;
    transition: all 0.4s ease-in-out;
  }
}

.agreement__text {
  color: #000;
  font-family: Manrope;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 23px;

  span {
    text-decoration-line: underline;
    color: #8e8e8e;

    &:hover {
      opacity: 0.7;
    }
  }
}

.agreement__text_with_req {
  cursor: default;
  // font-family: $font-1;
  color: #4f4f4f;
  font-family: IBM Plex Sans;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  max-width: 212px;

  a {
    cursor: pointer;
    text-decoration: inherit;
    color: #0090ff;

    &:hover {
      opacity: 0.5;
    }
  }

  span {
    text-decoration-line: underline;
    color: #8e8e8e;

    &:hover {
      opacity: 0.7;
    }
  }
}
