.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 15px 21px;
  border-radius: 5px;
  background: #101010;

  .contacts_title {
    color: #0090ff;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 14px;
  }

  .contacts {
    display: grid;
    gap: 36px;

    @media (min-width: 640px) {
      grid-template-columns: repeat(3, 1fr);
    }

    .cell {
      display: grid;
      gap: 5px;

      @media (min-width: 1024px) {
        gap: 10px;
      }

      .title {
        color: #fff;
        font-family: Roboto;
        font-size: 20px;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 0.4px;
      }

      .contact_block {
        display: flex;
        flex-direction: column;

        .contact__title {
          color: #8e8e8e;
          font-family: Roboto;
          font-size: 12px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
        }

        .contact__text {
          color: #fff;
          font-family: Roboto;
          font-size: 14px;
          line-height: normal;

          a {
            color: #fff;
            text-decoration-line: underline;
          }

          &:hover {
            a {
              color: #606060;
            }
          }
        }

        .contact__text_phone {
          text-decoration: none;
        }

        .links_union {
          display: flex;
          justify-content: space-between;
          gap: 13px;
          align-items: center;

          .phone_link {
            a {
              color: #fff;
              font-family: Roboto;
              font-size: 14px;
              line-height: normal;
            }

            &:hover {
              a {
                color: #606060;
              }
            }
          }
          .icon_link {
            display: block;
            height: 22px;
            &:hover {
              .whatsapp {
                path {
                  fill: #606060;
                }
              }
            }
          }
        }
      }
    }
  }
}
