.footer_social {
  max-width: 1170px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;

  @media (min-width: 640px) {
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 30px;
  } 

  @media (min-width: 1024px) {
    flex-direction: column;
    margin-bottom: 0;
  }

  .social_text {
    margin: 28px 0 43px 0;
    color: #fff;
    text-align: center;
    font-family: Manrope;
    font-size: 19px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    max-width: 714px;

    @media (max-width: 580px) {
      font-size: 14px;
    }
  }

  .social_links {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 35px;

      svg {
        width: 24px;
        height: 24px;
      }

    svg {
      &:hover {
        path {
          fill: #606060;
        }
      }
    }
  }

  .ltnet_logo {
    position: relative;
    width: 234px;
    height: 78px;

    @media (min-width: 1024px) {
      width: 289px;
      height: 97px;
    }
  }
}
