@import "../default";

.section {
	background-color: $color-3;
	position: relative;
	padding-bottom: 130px;
}
.section_inner {
	@extend %page_grid;
	padding-top: 40px;
	position: relative;
	z-index: 1;
}
.responsive {
	display: none;
}
.content {
	margin-bottom: 85px;
}
.words_slider {
	position: absolute;
	z-index: 0;
	left: 0;
	bottom: 0px;
}
.title {
	@extend %title;
	color: $color-2;
	margin-bottom: 20px;
}
.text {
	font-family: $font-1;
	font-weight: 500;
	font-size: 18px;
	line-height: 24px;
	letter-spacing: 0.02em;
	color: $color-2;
	margin-bottom: 30px;
}
.button {
	cursor: pointer;
	transition: all 0.4s ease-in-out;
	font-family: $font-1;
	font-weight: 600;
	font-size: 14px;
	line-height: 19px;
	letter-spacing: 0.02em;
	text-transform: uppercase;
	color: #f1f4f6;
	padding: 19px 55px 17px;
	background-color: $color-1;
	border-radius: 60px;
	outline: 0;
	border: 0;
	animation: radial-pulse 1s infinite;
	&:hover {
		background-color: $color-2;
		color: $color-3;
		animation: none;
	}
}
.image_outer {
	position: relative;
	width: 100%;
	height: 500px;
	border-radius: 20px;
	overflow: hidden;
	* {
		user-select: none;
		pointer-events: none;
	}
}
@keyframes radial-pulse {
	0% {
		transform: scale(1);
	}
	100% {
		transform: scale(0.97);
	}
}
@media (max-width: 1200px) {
	.desktop {
		display: none;
	}
	.responsive {
		display: block;
	}
}
@media (max-width: 600px) {
	.image_outer {
		height: 300px;
	}
	.text {
		font-size: 14px;
		line-height: 18px;
	}
}
