%breadcrumbs {
	width: 1170px;
	margin: 0 auto;
	z-index: 49;
}

.list {
	margin: 0;
	padding: 0;
	list-style: none;
	display: flex;
	align-items: center;
	height: min-content;
}

.item {
	a {
		text-decoration: none;
	}

}

.link {
	cursor: pointer;
	color: #8e8e8e;
	margin-right: 0;
	font-weight: 400;
	font-size: 10px;
	line-height: 12px;

	br {
		display: none;
	}
}

.line {
	cursor: default;
	margin: 0;
	font-size: 10px;
	padding: 0 6px;
	color: #8e8e8e;
}

.text {
	cursor: default;
	color: #8e8e8e;
	margin-right: 0;
	font-weight: 400;
	font-size: 10px;
	line-height: 12px;

	br {
		display: none;
	}
}

.white {
	@extend %breadcrumbs;

	.text {
		color: #ffffff;
	}

	.link:hover {
		color: #f2f2f2;
	}
}

.anotherWhite {
	@extend %breadcrumbs;

	.text {
		color: #f2f2f2;
	}
}

.grey {
	@extend %breadcrumbs;

	.line {
		color: #4f4f4f !important;
	}

	.link {
		color: #4f4f4f;
	}

	.text {
		color: #c4c4c4;
	}
}

.black {
	@extend %breadcrumbs;

	.text {
		color: #212121;
	}

	.link:hover {
		color: rgb(0, 0, 0);
	}
}

.blog_black {
	@extend %breadcrumbs;

	.link:hover {
		color: black;
	}

	.text {
		color: #212121;
	}
}

.another_black {
	@extend %breadcrumbs;

	.text {
		color: #070707;
	}
}

@media (max-width: 1200px) {
	%breadcrumbs {
		width: 100%;
		padding: 15px 20px;
		overflow: hidden;
		overflow-x: scroll;

		&::-webkit-scrollbar {
			height: 0;
		}
	}

	.line {
		padding: 0 15px;
	}

	.list {
		width: 700px;
	}
}