.unique_opportunity {
    background-color: #050a1b;

    .container {
        width: 1170px;
        margin: 0 auto;

        @media (max-width: 1200px) {
            width: 100%;
        }

        .content {
            padding: 62px 0 36px;
            display: flex;
            flex-direction: column;
            align-items: center;

            @media (max-width: 1200px) {
                padding: 62px 20px 36px;
            }

            @media (max-width: 600px) {
                padding: 62px 20px 53px;
            }

            .title {
                color: #fff;
                text-align: center;
                font-family: Manrope;
                font-size: 40px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
                max-width: 600px;

                span {
                    color: #0090ff;
                }

                @media (max-width: 600px) {
                    font-size: 30px;
                }
            }

            .grid {
                position: relative;
                display: grid;
                grid-template-columns: 1fr 1fr;
                gap: 100px;

                margin-top: 67px;
                max-width: 982px;

                @media (max-width: 900px) {
                    gap: 40px;
                }

                @media (max-width: 600px) {
                    grid-template-columns: 1fr;
                    gap: 24px;
                    margin-top: 34px;
                }

                .grid_cell {
                    position: relative;
                    border-radius: 25px;

                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    gap: 29px;
                    padding: 30px 51px 18px;

                    @media (max-width: 900px) {
                        padding: 36px 18px 37px;
                    }

                    &:after {
                        content: "";
                        position: absolute;
                        top: 2px;
                        left: 2px;
                        right: 2px;
                        bottom: 2px;
                        background-color: #050a1b;
                        z-index: 1;
                        border-radius: 24px;
                    }

                    &:before {
                        content: "";
                        position: absolute;
                        top: 0px;
                        left: 0px;
                        right: 0px;
                        bottom: 0px;
                        background: linear-gradient(
                            81.25deg,
                            #0090ff 18.31%,
                            #00f18a 126.68%
                        );
                        border-radius: 25px;
                    }

                    .icons {
                        position: relative;
                        z-index: 2;
                    }

                    .cell_text {
                        position: relative;
                        z-index: 2;

                        color: #fff;
                        font-family: Manrope;
                        font-size: 22px;
                        font-style: normal;
                        font-weight: 500;
                        line-height: normal;
                        text-align: center;

                        span {
                            color: #0090ff;
                        }
                    }
                }

                .divider {
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    width: 8px;
                    height: 202px;
                    background: linear-gradient(
                        180deg,
                        #00f18a 0%,
                        #0090ff 100%
                    );
                    border-radius: 20px;
                    transform: translate(-50%, -50%);

                    @media (max-width: 600px) {
                        display: none;
                    }
                }
            }

            .text {
                margin-top: 36px;
                color: #fff;
                text-align: center;
                font-family: Manrope;
                font-size: 28px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
                max-width: 800px;

                span {
                    color: #0090ff;
                }

                @media (max-width: 600px) {
                    margin-top: 44px;
                }
            }
        }
    }
}
